:root {
    --white-main: #FFFFFF;
    --grey-secondary: #C0C0C0;
    --buton-blue: #167BF7;
    --backgraound-page: #00030c;
    --font-main: 'inter';
    --button-blue-effect: #167bf7;
}

body {
    background-color: var(--backgraound-page);
    color: var(--white-main);
    font-family: var(--font-main);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao {
    background-color: var(--buton-blue);
    border-radius: 5px;
    padding: 1em;
    color: var(--white-main);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--white-main);
}

.container__aviso {
    font-size: 12px;
    color: var(--grey-secondary);
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__caixa {
    margin: 0 6em;
}

.secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color:var(--white-main);
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--grey-secondary);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 48px;
    color: var(--white-main);
}

.lista__item {
    font-size: 32px;
    color: var(--white-main);
}

.rodape {
    text-align: center;
    margin: 5em 3em;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista__link a{
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
}

.rodape__logo {
    margin-bottom: 2em;
}

.rodape__texto {
    margin: 1em 0;
    color: var(--grey-secondary);
    font-size: 14px;
    padding: 0.5em;
}

.lista__link a:hover {
    color: var(--buton-blue);
}

.lista__link a:active {
    color: purple;
}

.container__botao:hover {
    background-color: var(--button-blue-effect);
    color: var(--backgraound-page);
}

@media screen and (max-width: 768px) {
    
    .container {
        display: block;
        background-image: none;
    }

    .container__imagem {
        width: 50vw;
    }

    .container__caixa {
        margin: 2em 2em;
    }

    .secundario {
        margin: 0;
        text-align: center;
    }

    .secundario__imagem {
        width: 50vw;
    }

    .dispositivos__lista {
        display: block;
    }

    .rodape__lista {
        display: block;
    }

}